.loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  /* max-width: 100% !important; */
}

.tweetMobileBtn {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
}
