.searchbar input {
  background-color: rgb(236, 240, 240);
  max-width: 95%;
}
.searchbar input:focus {
  outline: none;
  background-color: rgb(236, 240, 240);
}

.searchbarFocus {
  background-color: rgb(236, 240, 240);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
