.tweetIcon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

.tweetIcon:hover {
  cursor: pointer;
  background-color: rgba(29, 155, 240, 0.1);
  color: rgb(29, 155, 240);
}
