.botnav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botnav div {
  width: 100%;
  display: flex;
  justify-content: center;
}
