.follow-suggestion {
  transition: 0.2s;
  background-color: inherit;
}

.follow-suggestion:hover {
  cursor: pointer;
  background-color: rgb(228, 232, 232);
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.follow-btn:focus,
.unfollow-btn:focus {
  box-shadow: none !important;
}

.follow-btn,
.unfollow-btn span {
  font-size: 14px;
  font-weight: 700;
}

.follow-btn:hover {
  background-color: rgb(56, 56, 56) !important;
}

.unfollow-btn:hover {
  background-color: rgba(220, 53, 69, 0.1) !important;
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}
